<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Company Logo and Navbar Brand -->
    <div class="navbar-brand d-flex align-items-center">
      <!-- <img
        src="./Images/favicon.png"
        alt="Company Logo"
        class="img-fluid me-2"
        style="height: 40px"
      />
      <a  class="navbar-brand" href="./index.html">Misard Courses</a> -->

      <a class="navbar-brand d-flex align-items-center" href="./index.html">
        <img
          src="../../assets/images/favicon.png"
          alt="Company Logo"
          class="img-fluid me-2"
        />
        Misard Courses
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-auto" id="navbarNav">
      <ul
        class="navbar-nav ms-auto text-end"
        style="margin-right: 100px !important"
      >
        <li class="nav-item">
          <a class="nav-link" href="/angular-index.html">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/javascript-index.html">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/typescript-index.html">Typescript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/csharp-index.html">C#.Net</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/netcore-index.html">.Net Core</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            More
          </a>
          <ul
            class="dropdown-menu dropdown-menu-wide dropdown-menu-left"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/bootstrap-index.html"
                >Bootstrap</a
              >
            </li>

            <li>
              <a
                target="_blank"
                class="dropdown-item"
                href="https://misard-htmlclass-employmentrepo.azurewebsites.net/"
                >HTML</a
              >
            </li>
            <li><a class="dropdown-item" href="/sql-index.html">SQL</a></li>
            <li>
              <a class="dropdown-item" href="/linq-index.html">LinQ</a>
            </li>
            <li><a class="dropdown-item" href="/aws-index.html">AWS</a></li>
            <li>
              <a class="dropdown-item" href="/azure-index.html">Azure</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/netcore-index.html"
            ><strong>Meet your mentor</strong></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
