<div
id="RealFactMessage"
class="alert alert-primary"
role="alert"
style="
  border-radius: 10px;
  background-color: #f8f9fa;
  border-color: #dee2e6;
"
>
<div style="font-family: Arial, sans-serif">
  <div class="fw-bold mb-2" style="font-size: 18px; color: #007bff">
    Dear Candidate,
  </div>
  <div style="margin-top: 10px; color: #343a40">
    <p class="mb-1">
      R u looking for a Job or seeking technical training? 😊
    </p>
    <p class="mb-1">
      Do you believe companies will hire candidates without talent? 🤔
    </p>
    <p class="mb-1">
      Unfortunately, many individuals like you are influenced or inspired
      by flashy websites, big organizations, or enticing falsehoods. 😞
    </p>
    <p class="mb-1">
      Please come to the realization that "companies won't offer positions
      without talent, whether you're a fresher or experienced." 🚀
    </p>
    <p class="mb-1">
      So... Seek out <strong>Real mentors</strong>, not just institutes or
      attractive websites, and then pursue your career aspirations. 🌟
    </p>
    <p class="mb-1">Enjoy your journey! 🎉😊</p>
    <p style="text-align: right; font-style: italic" class="mb-0">
      Your well-wisher
    </p>
  </div>
</div>
<button
  type="button"
  class="btn-close"
  aria-label="Close"
  data-bs-dismiss="alert"
  style="position: absolute; top: 5px; right: 10px"
></button>
</div>